image: docker:19.03.12

variables:
  # When using dind service, you must instruct docker to talk with the
  # daemon started inside of the service. The daemon is available with
  # a network connection instead of the default /var/run/docker.sock socket.
  #
  # The 'docker' hostname is the alias of the service container as described at
  # https://docs.gitlab.com/ee/ci/docker/using_docker_images.html#accessing-the-services
  #
  # If you're using GitLab Runner 12.7 or earlier with the Kubernetes executor and Kubernetes 1.6 or earlier,
  # the variable must be set to tcp://localhost:2375 because of how the
  # Kubernetes executor connects services to the job container
  # DOCKER_HOST: tcp://localhost:2375
  #
  DOCKER_HOST: tcp://docker:2375
  #
  # This instructs Docker not to start over TLS.
  DOCKER_TLS_CERTDIR: ""

services:
  - docker:19.03.12-dind

stages:
  - container
  - cluster

container:
  stage: container
  tags:
    - k8s-runner
  script:
    - docker build -t camillamartins/dockernode:$CI_PIPELINE_ID .
    - docker push camillamartins/dockernode:$CI_PIPELINE_ID

cluster:
  image: bitnami/kubectl
  stage: cluster
  tags:
    - k8s-runner
  script:
    - kubectl apply -f deployment.yaml
